In [51]:
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import StratifiedShuffleSplit
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [3]:
df=pd.read_csv('full_ml_dataset.csv')

In [4]:
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [40]:
enc = LabelEncoder()
enc.fit(df.type.values)

LabelEncoder()

In [43]:
df.type=enc.transform(df.type)

In [49]:
df.nameDest=df.nameDest.apply(lambda x: hash(x))
df.nameOrig=df.nameOrig.apply(lambda x: hash(x))

In [50]:
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,4065853723739381312,170136.00,160296.36,550023195525814058,0.0,0.00,0,0
1,1,3,1864.28,-7940798692679367732,21249.00,19384.72,-4912225728174822227,0.0,0.00,0,0
2,1,4,181.00,818982835340625710,181.00,0.00,-1453076008789179526,0.0,0.00,1,0
3,1,1,181.00,3762665535169574011,181.00,0.00,1168578806716095657,21182.0,0.00,1,0
4,1,3,11668.14,8041340610015033759,41554.00,29885.86,8268658822544590164,0.0,0.00,0,0
5,1,3,7817.71,2001002415235912229,53860.00,46042.29,-8216999112345047642,0.0,0.00,0,0
6,1,3,7107.77,2056563403164170279,183195.00,176087.23,-5245900410273795828,0.0,0.00,0,0
7,1,3,7861.64,-4506289995709423945,176087.23,168225.59,-2961415714621359639,0.0,0.00,0,0
8,1,3,4024.36,-1846934513721742874,2671.00,0.00,7009200379681226328,0.0,0.00,0,0
9,1,2,5337.77,1620980996916469424,41720.00,36382.23,7269935073900271507,41898.0,40348.79,0,0

In [52]:
y=df.isFraud.values

In [71]:
X=df.iloc[:,0:9].values

In [74]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(n_splits=3, test_size=0.5, random_state=0)
sss.get_n_splits(X, y)
X_train=[]
X_test=[]
y_train=[]
y_test=[]
for train_index, test_index in sss.split(X, y):
    X_train.append(X[train_index])
    X_test.append(X[test_index])
    y_train.append(y[train_index])
    y_test.append(y[test_index])

In [106]:
res=[X_train[0], X_test[0], y_train[0], y_test[0]]
res2=[X_train[1], X_test[1], y_train[1], y_test[1]]
res3=[X_train[2], X_test[2], y_train[2], y_test[2]]

In [107]:
pickle_out = open("Citi.pb","wb")
pickle.dump(res, pickle_out)
pickle_out.close()
pickle_out = open("JPM.pb","wb")
pickle.dump(res2, pickle_out)
pickle_out.close()
pickle_out = open("Boa.pb","wb")
pickle.dump(res3, pickle_out)
pickle_out.close()